#{extends 'main.html' /}
#{set title:'MindShare' /}

#{if error} 
  <div class="error">
  ${error}
  </div>
#{/if}
<h2>Chosen Template: ${name}</h2>

#{form @submitDuplexer(id), id:'template_send'}
  <!-- input type="hidden" value="juhu" name="submitType"-->
  #{list items:data_tags, as:'data_tag'}
      <div class="data_tag">
        <span class="data_tag_description">${data_tag.description}</span>
        #{if data_tag.tag_type.toString()  == 'DATE'} 
          <input type="text" class="date" name="data_tags[${data_tag.content}]"/>
		  <a class="date" href="#"></a>
        #{/if}
        
        #{elseif data_tag.tag_type.toString()  == 'CONTENT'}
          <input type="text" name="data_tags[${data_tag.content}]"/>
        #{/elseif}
        
        #{elseif data_tag.tag_type.toString()  == 'TEXT_SHORT'}
          <input type="text" name="data_tags[${data_tag.content}]"/>
        #{/elseif}
        
        #{elseif data_tag.tag_type.toString()  == 'TEXT_LONG'}
          <textarea cols="10" rows="10" name="data_tags[${data_tag.content}]"></textarea>
        #{/elseif}
      </div>
  #{/list}
      <div class="save_data_tags">
        <input type="submit" name="submitType" id="generateFile" value="Generate" />
      </div>
      <div class="export_data_tags">
        <input type="submit" name="submitType" id="exportFile" value="Export" />
      </div>
      <div class="clear"></div>
#{/form}
