body {
	margin: 0;
	background: url(../images/background.png);
}

.clear {
	clear: both;
}

div#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	
	border-bottom: 1px solid #bbb;
	background: #f2f2f2;
}

div#header div.step {
	position: relative;
	height: 2em;
	width: 33%;
	float: left;
	
	text-align: center;
	line-height: 2em;
	font-size: 1.7em;
	
	background: #f2f2f2;
	overflow: hidden;
}

div#header div.step div.breadcrumb {
	position: absolute;
	left: -20px;
	top: 0;
	height: 40px;
	width: 40px;
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	border: 1px solid #bbb;
	background: #f2f2f2;
	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

/* Breadcrumb color */
div#header.active, div#header div.step.active, div#header div.step div.breadcrumb.active {
	background-color: #4791D9;
}

div#header div.step.active {
	color: #fff;
}

div.wrapper {
	margin: 6em auto 3.5em;
	width: 65%;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgba(255, 255, 255, 0.4);
}

div#content {
	
}

div#content h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

div#content div.center {
	text-align: center;
}

div#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #f2f2f2;
	border-top: 1px solid #bbb;
	text-align: center;
	font-weight: bold;
	color: #333;
}

div#footer ul {
	
}

div#footer ul li {
	list-style: none;
}

.save_data_tags, .export_data_tags {
	float: left !important;
	padding-right: 0.4em;
}

div.intro {
	font-size: 3em;
}

div.intro img {
	float: left;
	margin: 15px;
	padding: 10px;
	
	border: 1px solid #bbb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #fff;
}

div.intro div {
	padding-top: 45px;
}

div.templates {
	margin-top: 20px;
	padding-bottom: 20px;
}

select.template {
	font-size: 1.2em;
	
	background: none;
	border: 1px solid #bbb;
}

div.buttons button {
	height: 30px;

	font-weight: bold;
	
	border: 1px solid #bbb;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

div.buttons button.download {
	background: url(../images/download.png) no-repeat 3% center;
	padding-left: 25px;
}

div.buttons button.proceed {
	background: url(../images/arrow.png) no-repeat 97% center;
	padding-right: 25px;
	
}

div.tags {
	clear: both;
}

div.data_tag:nth-child(2n) {
	height: 2.2em;
	line-height: 2.2em;
	clear: both;
	background-color: rgba(255, 255, 255, 0.4);
}

div.data_tag label {
	font-weight: bold;
	padding-left: 16%;
	width: 40%;
	float: left;
}

div.data_tag input {
	float: left;
	width: 200px;
}

div.data_tag a.date {
	display: inline-block;
	margin-left: 5px;
	width: 16px;
	height: 22px;
	
	background: url(../images/date.png) no-repeat bottom center;
}

