#{extends 'main.html' /}
#{set title:'MindShare' /}

#{if error} 
  <div class="error">
  ${error}
  </div>
#{/if}
<a href="/" class="back" alt="Back" title="Back"></a>
<a href="#" class="erase" alt="Empty fields" title="Empty fields"></a>
<h2>Uploaded Template: </h2>

#{form @Templates.generateFileUpload(), id:'upload_send'}
  <input type="hidden" name="content_template" value="${content}"/>
  #{list items:data_tags, as:'data_tag'}
      <div class="data_tag">
        <label class="data_tag_description">${data_tag.description}</label>
        #{if data_tag.tag_type.toString()  == 'DATE'} 
          <input type="text" id = "${data_tag.description}" name="data_tags[${data_tag.content}]"/>
        #{/if}
        
        #{elseif data_tag.tag_type.toString()  == 'CONTENT'}
          <input type="text" id = "${data_tag.description}" name="data_tags[${data_tag.content}]"/>
        #{/elseif}
        
        #{elseif data_tag.tag_type.toString()  == 'TEXT_SHORT'}
          <input type="text" id = "${data_tag.description}" name="data_tags[${data_tag.content}]"/>
        #{/elseif}
        
        #{elseif data_tag.tag_type.toString()  == 'TEXT_LONG'}
          <textarea cols="10" rows="10" id = "${data_tag.description}" name="data_tags[${data_tag.content}]"></textarea>
        #{/elseif}
      </div>
  #{/list}
      <div class="buttons tags">
        <input type="Submit" id="generateFile" class="activateStep3 download" value="Download" />
      </div>
#{/form}
