#{extends 'main.html' /} 
#{set title:'MindShare' /}


<h1>Template letter deu</h1>
<a href="@{Application.index()}">Open template letter deu</a>
<p>[Description]</p>
<h1>Template letter eng</h1>
<a href="@{Application.index()}">Open template letter eng</a>
<p>[Description]</p>
<h1>Template mkfile</h1>
<a href="@{Application.index()}">Open template mkfile</a>
<p>[Description]</p>
<h1>Template CV</h1>
<a href="@{Application.index()}">Open template CV</a>
<p>[Description]</p>
<h1>Template Shell</h1>
<a href="@{Application.index()}">Open template shell</a>
<p>[Description]</p>